* {
  margin: 0px;
  padding: 0px;
}

#geral{
border: 1px solid black;
width: 980px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
}
  
 
  h1 {
    color: #1BB4E8;
    display: inline;
  
  }
  
  h2 {
    color: #FFFFFF;
  
  }
  
 #logomarca{
  display: flex;
border: 1px solid white;
width: 220px;
position: relative;
 }
 
 a{font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  
 }
 
  nav {
    background-color: #21272B;
height: 155px;
   
  }
  
 
  #empresa {
 
    left: 65px;
    top: 40px;
    width: 170px;
    border: 1px solid white;
  }
  
#logotipo{
  border: 1px solid white;
  width: 50px;
}
  

  #foto-grande {
    border: 1px solid black;
    display: block;
    margin: 20px auto;
  }
